body {
    font-family: Arial, sans-serif;
    background: #f7f9fc;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 8px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    color: #555;
    margin-top: 0;
}

.summary {
    margin: 20px 0;
}

.profile {
    width: 120px;
    border-radius: 50%;
    display: block;
    margin-bottom: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.profile {
    width: 120px;
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.title {
    text-align: center;
}

.title h1 {
    margin: 0;
}

.title h2 {
    margin-top: 6px;
    color: #555;
}



.links a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}

.certs img {
    width: 200px;
    margin: 10px;
    border-radius: 6px;
}

footer {
    margin-top: 40px;
    font-size: 14px;
    color: #777;
}